<!DOCTYPE html>
<html lang="$lang$" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="$description$" />
    $if(author)$
    <meta name="author" content="$author$" />
    $endif$ $if(keywords)$
    <meta name="keywords" content="$keywords$" />
    $endif$

    <title>$title$ | $siteName$</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta property="og:url" content="$root$$url$" />
    <meta property="og:site_name" content="$siteName$" />
    <meta property="og:title" content="$title$" />
    <meta property="og:description" content="$description$" />
    <meta property="og:locale" content="$lang$" />
    $if(image)$
    <meta property="og:image" content="$root$$image$" />
    $endif$ $if(type)$
    <meta property="og:type" content="$type$" />
    $else$
    <meta property="og:type" content="website" />
    $endif$ $if(image)$
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="$root$$image$" />
    $else$
    <meta property="twitter:card" content="summary" />
    $endif$
    <meta property="twitter:title" content="$title$" />
    <meta property="twitter:description" content="$description$" />
    $if(authorTwitter)$
    <meta property="twitter:creator" content="$authorTwitter$" />
    $endif$

    <link rel="canonical" href="$root$$url$" />

    <link
      rel="alternate"
      href="/atom.xml"
      title="$feedTitle$"
      type="application/atom+xml"
    />
    <link
      rel="alternate"
      href="/rss.xml"
      title="$feedTitle$"
      type="application/rss+xml"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/typo.min.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/code.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/collapsible.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/toc.css" media="all" />
  </head>
  <body>
    <div class="content">
      <header>
        <div class="header">
          <h1 class="header-title">
            <a href="/">$siteName$</a>
          </h1>
          <div class="header-menu">
            <p class="small"><a href="/">About</a></p>
            <!-- <p class="small"><a href="/posts/">Posts</a></p> -->
            <p class="small"><a href="/work/">Work</a></p>
            <p class="small"><a href="/projects/">Projects</a></p>
            <p class="small"><a href="/music/">Music</a></p>
            <!-- <p class="small"><a href="/rss.xml">RSS</a></p> -->
            <p class="small">
              <a href="/assets/resume-draft-2025.pdf" target="_blank">Resume</a>
            </p>
          </div>
        </div>
      </header>

      <main class="main">$body$</main>
    </div>
    <footer>
      <p>
        Site generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a>. Theme
        inspired by <a href="https://github.com/tomfran/typo">Typo</a>.
        $if(hasGhcVersion)$ Built with
        <a href="$ghcNixpkgsUrl$">GHC $ghcVersion$</a>. $endif$
        &nbsp;&bull;&nbsp; &copy; $year$ $authorName$ &nbsp;&bull;&nbsp;
        <button
          id="theme-toggle"
          aria-label="Current theme: auto. Click to cycle themes."
        >
          <span class="theme-icon">🌓</span>
        </button>
      </p>
    </footer>
    <script defer src="/js/script.js"></script>
  </body>
</html>
