<h3 class="about-title">Hi! I'm Aaron.</h3>

<div class="about-content">
<p>
    I recently graduated from Yale (Class of 2016) with a major in Computer Science and Mathematics.
    I am currently working as a software engineer at Microsoft.
    I enjoy music, cats, and exploring the world.
</p>

<h4>Coding</h4>
<p>
    This past year at Microsoft, I've been working on the XAML Designer for Visual Studio, diving into the world of devtools and Windows / .NET internals.
    As an undergrad, I completed a thesis project in the field of software verification.
    I'm also interested in functional programming, web development, and entrepeneurship, and I also dabble in machine learning and data science. (Who doesn't nowadays?)
    In my spare time, I can be found preaching the gospel of memory saftey with the Rust Evangelism Strike Force or telling my colleagues that they should learn Haskell.
</p>

<h4>Travel</h4>
<p>
    I'm an avid traveler! Here are some places I have been to recently.
    {% include map.html %}
</p>

<h4>Music</h4>
<p>
    In college, I played the viola with the <a href="https://open.spotify.com/album/0uPbVv10dVueVBD0AGAZmr">Yale Symphony Orchestra</a> and also studied composition and chamber music performance with the faculty at the Yale School of Music.
    I've played in the pit orchestra for numerous student productions, played saxophone with the Yale Precision Marching Band, and also sang with the <a href="https://www.youtube.com/watch?v=pR-hmSOXo8c">Yale Russian Chorus.</a>
    If you are in the area and looking to jam, please let me know!
</p>
</div>