<!-- for map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<div id="map" style="height: 200px; z-index:0;"></div>

<script type="text/javascript">
    const coord = [36.6997294, 3.0576198999999633];
    const map = L.map('map').setView(coord, 1);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([47.643754, -122.127669]).addTo(map).bindPopup("Home Base: Redmond, WA");

    // add all of the other destinations to the map
    {% for trip in site.data.travels %}
    L.marker({{ trip.gps }}).addTo(map).bindPopup("<b>{{ trip.destination }}</b><br/>{{ trip.date }}");
    {% endfor %}
</script>